In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
path = '../data/Preprocessed_data.csv'
df4 = pd.read_csv(path)

In [3]:
df4.head()

,Unnamed: 0,user_id,location,age,isbn,rating,book_title,book_author,year_of_publication,publisher,img_s,img_m,img_l,Summary,Language,Category,city,state,country
0,0,2,"stockton, california, usa",18.0000,0195153448,0,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,Provides an introduction to classical myths pl...,en,['Social Science'],stockton,california,usa
1,1,8,"timmins, ontario, canada",34.7439,0002005018,5,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],timmins,ontario,canada
2,2,11400,"ottawa, ontario, canada",49.0000,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],ottawa,ontario,canada
3,3,11676,"n/a, n/a, n/a",34.7439,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],NaN,NaN,NaN
4,4,41385,"sudbury, ontario, canada",34.7439,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],sudbury,ontario,canada

In [4]:
df4 = df4.loc[df4['Category'] != '9']

In [5]:
df4['newCategory'] = df4['Category'].apply(lambda x: x[2:-2])

In [6]:
df4.head()

,Unnamed: 0,user_id,location,age,isbn,rating,book_title,book_author,year_of_publication,publisher,img_s,img_m,img_l,Summary,Language,Category,city,state,country,newCategory
0,0,2,"stockton, california, usa",18.0000,0195153448,0,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,Provides an introduction to classical myths pl...,en,['Social Science'],stockton,california,usa,Social Science
1,1,8,"timmins, ontario, canada",34.7439,0002005018,5,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],timmins,ontario,canada,Actresses
2,2,11400,"ottawa, ontario, canada",49.0000,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],ottawa,ontario,canada,Actresses
3,3,11676,"n/a, n/a, n/a",34.7439,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],NaN,NaN,NaN,Actresses
4,4,41385,"sudbury, ontario, canada",34.7439,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],sudbury,ontario,canada,Actresses

In [7]:
dfcat = df4.groupby(['newCategory']).agg({'user_id': 'count'})

In [8]:
dfcat = dfcat.loc[dfcat['user_id'] > 200]

In [9]:
catList = dfcat.index.tolist()

In [10]:
dfcat = dfcat.reset_index()
dfcat = dfcat.sort_values(by='user_id', ascending=False)
dfcat['log_count'] = dfcat['user_id'].apply(lambda x: math.log(x, 2))
dfcat = dfcat.rename(columns={'user_id': 'count', 'newCategory': 'Category'})

In [11]:
dfcat.head()

                     Category   count  log_count
57                    Fiction  385135  18.555005
74           Juvenile Fiction   39617  15.273832
21  Biography & Autobiography   22390  14.450567
71                      Humor    8500  13.053247
68                    History    8249  13.010004

In [12]:
dfcat.to_csv('../data/cat_count_sort.csv', index=False)

In [13]:
df4 = df4.loc[df4['newCategory'].isin(catList)]
df4.head()

,Unnamed: 0,user_id,location,age,isbn,rating,book_title,book_author,year_of_publication,publisher,img_s,img_m,img_l,Summary,Language,Category,city,state,country,newCategory
0,0,2,"stockton, california, usa",18.0000,0195153448,0,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,Provides an introduction to classical myths pl...,en,['Social Science'],stockton,california,usa,Social Science
18,18,8,"timmins, ontario, canada",34.7439,0374157065,0,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,"Describes the great flu epidemic of 1918, an o...",en,['Medical'],timmins,ontario,canada,Medical
19,19,35704,"kansas city, missouri, usa",53.0000,0374157065,6,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,"Describes the great flu epidemic of 1918, an o...",en,['Medical'],kansas city,missouri,usa,Medical
20,20,83160,"oregon city, oregon, usa",65.0000,0374157065,0,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,"Describes the great flu epidemic of 1918, an o...",en,['Medical'],oregon city,oregon,usa,Medical
21,21,110912,"milpitas, california, usa",36.0000,0374157065,10,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,"Describes the great flu epidemic of 1918, an o...",en,['Medical'],milpitas,california,usa,Medical

In [14]:
dfg = df4.groupby(['newCategory', 'isbn', 'img_s', 'img_l', 'book_title']).agg({'user_id': 'count', 'rating': 'mean'})
dfg['log_user_id_cnt'] = dfg['user_id'].apply(lambda x: math.log(x, 2))


user_cnt_max = dfg['log_user_id_cnt'].max()
rating_max = dfg['rating'].max()
dfg['weight'] = dfg[['log_user_id_cnt', 'rating']].apply(lambda x: x[0] / user_cnt_max * 70 + x[1] / rating_max * 30, axis=1)

In [15]:
g = dfg['weight'].groupby('newCategory', group_keys=False)

In [16]:
res = g.apply(lambda x: x.sort_values(ascending=False))

In [17]:
res = res.reset_index()

In [18]:
res = res.rename(columns={'newCategory': 'Category'})

In [19]:
res.head()

,Category,isbn,img_s,img_l,book_title,weight
0,Abortion,0451183665,http://images.amazon.com/images/P/0451183665.0...,http://images.amazon.com/images/P/0451183665.0...,A Case of Need,53.645806
1,Abortion,0830714596,http://images.amazon.com/images/P/0830714596.0...,http://images.amazon.com/images/P/0830714596.0...,I'll Hold You in Heaven: Healings and Hope for...,31.151600
2,Abortion,0891074961,http://images.amazon.com/images/P/0891074961.0...,http://images.amazon.com/images/P/0891074961.0...,Tilly,27.000000
3,Abortion,0385327587,http://images.amazon.com/images/P/0385327587.0...,http://images.amazon.com/images/P/0385327587.0...,Borrowed Light,22.828035
4,Abortion,0553196480,http://images.amazon.com/images/P/0553196480.0...,http://images.amazon.com/images/P/0553196480.0...,Cider House Rules,16.901600

In [20]:
# Output
res.to_csv('../data/cat_score_sort.csv')